.php-cs-fixer.cache
README.html

plugins/Imap2/vendor/guzzlehttp/guzzle/*
!plugins/Imap2/vendor/guzzlehttp/guzzle/LICENSE
!plugins/Imap2/vendor/guzzlehttp/guzzle/src/

plugins/Imap2/vendor/guzzlehttp/promises/*
!plugins/Imap2/vendor/guzzlehttp/promises/LICENSE
!plugins/Imap2/vendor/guzzlehttp/promises/src/

plugins/Imap2/vendor/guzzlehttp/psr7/*
!plugins/Imap2/vendor/guzzlehttp/psr7/LICENSE
!plugins/Imap2/vendor/guzzlehttp/psr7/src/

plugins/Imap2/vendor/javanile/php-imap2/*
!plugins/Imap2/vendor/javanile/php-imap2/LICENSE
!plugins/Imap2/vendor/javanile/php-imap2/bootstrap.php
!plugins/Imap2/vendor/javanile/php-imap2/src/

plugins/Imap2/vendor/pimple/pimple/*
!plugins/Imap2/vendor/pimple/pimple/LICENSE
!plugins/Imap2/vendor/pimple/pimple/src/
plugins/Imap2/vendor/pimple/pimple/src/Pimple/Tests/

plugins/Imap2/vendor/psr/http-factory/*
!plugins/Imap2/vendor/psr/http-factory/LICENSE
!plugins/Imap2/vendor/psr/http-factory/src/

plugins/Imap2/vendor/psr/http-message/*
!plugins/Imap2/vendor/psr/http-message/LICENSE
!plugins/Imap2/vendor/psr/http-message/src/

plugins/Imap2/vendor/ralouphie/getallheaders/*
!plugins/Imap2/vendor/ralouphie/getallheaders/LICENSE
!plugins/Imap2/vendor/ralouphie/getallheaders/src/

plugins/Imap2/vendor/symfony/polyfill-iconv/*
!plugins/Imap2/vendor/symfony/polyfill-iconv/LICENSE
!plugins/Imap2/vendor/symfony/polyfill-iconv/bootstrap.php
!plugins/Imap2/vendor/symfony/polyfill-iconv/bootstrap80.php
!plugins/Imap2/vendor/symfony/polyfill-iconv/Iconv.php
!plugins/Imap2/vendor/symfony/polyfill-iconv/Resources/

plugins/Imap2/vendor/symfony/polyfill-mbstring/*
!plugins/Imap2/vendor/symfony/polyfill-mbstring/LICENSE
!plugins/Imap2/vendor/symfony/polyfill-mbstring/bootstrap.php
!plugins/Imap2/vendor/symfony/polyfill-mbstring/bootstrap80.php
!plugins/Imap2/vendor/symfony/polyfill-mbstring/Mbstring.php
!plugins/Imap2/vendor/symfony/polyfill-mbstring/Resources/

plugins/Imap2/vendor/zbateson/mail-mime-parser/*
!plugins/Imap2/vendor/zbateson/mail-mime-parser/LICENSE
!plugins/Imap2/vendor/zbateson/mail-mime-parser/src/

plugins/Imap2/vendor/zbateson/mb-wrapper/*
!plugins/Imap2/vendor/zbateson/mb-wrapper/LICENSE
!plugins/Imap2/vendor/zbateson/mb-wrapper/src/

plugins/Imap2/vendor/zbateson/stream-decorators/*
!plugins/Imap2/vendor/zbateson/stream-decorators/LICENSE
!plugins/Imap2/vendor/zbateson/stream-decorators/src/
